# Rust
/target
**/*.rs.bk
*.pdb

# Secrets
.env
Secrets.toml
*.pem
*.key

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db


# Added by cargo
#
# already existing elements were commented out

#/target
.shuttle*
Secrets*.toml
